@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
* {
  box-sizing: border-box;
}

/* Body Defaults */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #d3d9d4;
  color: #0d0d0d;
}

/* Scrollbar Styling (Optional, Industry Level) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #d3d9d4;
}

::-webkit-scrollbar-thumb {
  background: #6d8b8c;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #235857;
}


.input {
  @apply border border-gray-300 rounded-lg px-3 py-2 w-full 
         focus:outline-none focus:ring-2 focus:ring-[#dff1ef];
}

.fc .fc-button {
  background-color: #235857 !important;   /* Blue */
  border-color: #377877 !important;
  color: #ffffff !important;
}
.fc .fc-button:hover {
  background-color: #23585793 !important;   /* Darker Blue */
  border-color: #235857 !important;
}